.side-panel-wrap {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 30em;
  transform: translateX(100%);
  transition: 0.3s ease-out;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.side-panel-wrap--opened {
  transform: translateX(0%);
}

.side-panel-wrap--closed {
  transform: translateX(100%);
}

.side-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
  overflow: auto;
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 30px;
}



.center-button-container {
  display: flex;
  justify-content: center;
}

.fa-icon-ctc {
  margin-right: 6px;
}

.google-sign-in-button {
  background-size: cover;
  background-repeat: no-repeat;
  height: 46.5px;
  width: 196px;
  margin-right: 10px;
  background-image: url(assets/google-buttons/signin-light-normal.png);
}

.google-sign-in-button:hover {
  cursor: pointer;
}

.google-sign-in-button:active {
  background-image: url(assets/google-buttons/signin-light-pressed.png);
  outline: none;
}

.google-sign-in-button:focus {
  background-image: url(assets/google-buttons/signin-light-focus.png);
  outline: none;
}
