.google-sign-in-button {
  background-size: cover;
  background-repeat: no-repeat;
  height: 46.5px;
  width: 196px;
  margin-right: 10px;
  background-image: url(assets/google-buttons/signin-light-normal.png);
}

.google-sign-in-button:hover {
  cursor: pointer;
}

.google-sign-in-button:active {
  background-image: url(assets/google-buttons/signin-light-pressed.png);
  outline: none;
}

.google-sign-in-button:focus {
  background-image: url(assets/google-buttons/signin-light-focus.png);
  outline: none;
}
