name: Backend Tests

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Set up Python 3.6
        uses: actions/setup-python@v1
        with:
          python-version: 3.6
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          cat backend/requirements.txt | xargs -n 1 pip install
      - name: Test with pytest
        run: |
          pip install pytest
          cd backend
          pytest
